= simple_form_for @post do |f|
  .row
    .col-md-5
      = f.input :name
    .col-md-2
      = f.input :publish, as: :select, include_blank: false
    .col-md-2
      = f.input :slider, as: :select, include_blank: false
    .col-md-3
      = f.input :slider_image, as: :file
  .row
    .col-md-12
      = f.input :content
  .divider
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      = link_to t(:cancel), posts_path(@params), class: 'btn btn-default'