.row
  .col-md-12
    %h1.title 
      Gestão de postagens
      %small
        %p listagem de postagens do site
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h5
          %b Total listado:
          #{@posts.count}
      .panel-body
        .row
          .col-md-12
            = link_to "+ Adicionar nova postagem", new_post_path, class: 'btn btn-success btn-sm'
        .divider
        .row
          .col-md-12
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Nome
                  %th Data
                  %th Publicado?
                  %th 
              %tbody
                - if @posts.present?
                  - @posts.each do |post|
                    %tr
                      %td= post.name
                      %td.col-md-1= post.created_at.strftime("%d/%m/%Y")
                      %td.col-md-1= post.publish ? "Sim" : "Não"
                      %td.col-md-1
                        .btn-group
                          %button.btn.btn-primary.btn-xs.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                            Ações
                            %span.caret
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#{edit_post_path(post)}"} Editar
                            %li
                              %a{:href => "#{post_path(post)}", :data => { method: :delete }} Remover
                      
                - else
                  %tr
                    %td{colspan: 7}
                      %i Nenhum registro encontrado.
