.row
  .col-md-12
    %h1.title 
      Gestão de fornecedores
      %small
        %p listagem de fornecedores
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h5
          %b Total listado:
          #{@suppliers.count}
      .panel-body
        .row
          .col-md-12
            = link_to "+ Adicionar novo fornecedor", new_supplier_path, class: 'btn btn-success btn-sm'
        .divider
        .row
          .col-md-12
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Cod. 
                  %th Tipo
                  %th Nome/Nome Fantasia 
                  %th CPF/CNPJ 
                  %th Data de cad. 
                  %th Acesso externo?
                  %th 
              %tbody
                - if @suppliers.present?
                  - @suppliers.each do |supplier|
                    %tr
                      %td.col-md-1= supplier.id
                      %td.col-md-2= supplier.supplier_type.humanize
                      - if supplier.pessoa_física?
                        %td= supplier.personal_name
                        %td.col-md-2= supplier.cpf_cnpj
                      - else
                        %td= supplier.company_name
                        %td.col-md-2= supplier.cpf_cnpj
                      %td.col-md-2= supplier.created_at.strftime("%d/%m/%Y às %H:%M")
                      %td.col-md-2= supplier.external? ? "Sim" : "Não"
                      %td.col-md-1
                        .btn-group
                          %button.btn.btn-primary.btn-xs.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                            Ações
                            %span.caret
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#{commercial.edit_supplier_path(supplier)}"} Editar
                            %li
                              %a{:href => "#{commercial.supplier_path(supplier)}", :data => { method: :delete, confirm: t(:confirm)}} Remover
                - else
                  %tr
                    %td{colspan: 6}
                      %i Nenhum registro encontrado.
    