.row
  .col-md-12
    %h1.title 
      Gestão de supplieres
      %small
        %p Detalhamento de fornecedor
      = link_to "Retornar para listagem", suppliers_path, class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
      = link_to "Editar fornecedor", edit_supplier_path(@supplier), class: 'btn btn-success', data: {disable_with:  t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Detalhamento de fornecedor
      .panel-body
        .row
          .col-md-12
            - if @supplier.pessoa_física?
              %h2
                %b= @supplier.personal_name
            - else
              %h2
                %b= @supplier.fantasy_name
        .divider
        - if @supplier.pessoa_física?
          .row
            .col-md-12
              %table.table.table-striped
                %thead
                  %tr
                    %th CPF
                    %th Nome completo
                %tbody
                  %tr
                    %td= @supplier.cpf_cnpj
                    %td= @supplier.personal_name
        - else
          .row
            .col-md-12
              %table.table.table-striped
                %thead
                  %tr
                    %th CNPJ
                    %th Razão social
                    %th Nome fantasia
                    %th Insc. Estadual
                    %th Insc. Municipal
                %tbody
                  %tr
                    %td= @supplier.cpf_cnpj
                    %td= @supplier.company_name
                    %td= @supplier.fantasy_name
                    %td= @supplier.state_number
                    %td= @supplier.city_number
        .divider
        %h4 Dados de localização e endereço
        .row
          .col-md-12
            %table.table.table-striped
              %thead
                %tr
                  %th CEP
                  %th Estado
                  %th Cidade
              %tbody
                %tr
                  %td= @supplier.cep
                  %td= @supplier.state rescue nil
                  %td= @supplier.city
        .row
          .col-md-12
            %table.table.table-striped
              %thead
                %tr
                  %th Endereço
                  %th Complemento
              %tbody
                %tr
                  %td= @supplier.address
                  %td= @supplier.complement_address

        .divider
        %h4 Dados de contato
        .row
          .col-md-12
            %table.table.table-striped
              %thead
                %tr
                  %th Nome
                  %th Telefone
                  %th Celular
                  %th E-mail
              %tbody
                - @supplier.supplier_contacts.each do |contact|
                  %tr
                    %td= contact.name
                    %td= contact.telephone
                    %td= contact.telephone_secundary
                    %td= contact.email

        .divider
        %h4 Dados complementares
        .row
          .col-md-12
            %table.table.table-striped
              %thead
                %tr
                  %th Observação
              %tbody
                %tr
                  %td= @supplier.observation
        .divider
        %h4 Mensagens
        .row
          .col-md-12
            %table.table.table-striped
              %thead
                %tr
                  %th Data/Hora
                  %th Descrição
              %tbody
                %tr
                  %td{colspan: 2}
                    %i Nenhuma mensagem cadastrada.
                  



        .divider
        %h4 Documentos
        .row
          .col-md-12
            %table.table.table-striped
              %thead
                %tr
                  %th Data/Hora
                  %th Descrição
              %tbody
                %tr
                  %td{colspan: 2}
                    %i Nenhum documento cadastrado.
                  

        .divider
        %h4 Solicitações
        .row
          .col-md-12
            %table.table.table-striped
              %thead
                %tr
                  %th Data/Hora
                  %th Descrição
              %tbody
                %tr
                  %td{colspan: 2}
                    %i Nenhuma solicitação cadastrada.
                  