= simple_form_for @billet_bank, remote: true do |f|
  .row
    .col-md-12
      = f.input :name, placeholder: "Informe um nome"
  .row
    .col-md-12
      = f.input :bank, as: :select, collection: ::Finance::BilletBank.banks.map { |k,v| [k.humanize, k]}, include_blank: false
  .row
    .col-md-3
      = f.input :wallet
    .col-md-3
      = f.input :convenant
    .col-md-3
      = f.input :agency
    .col-md-3
      = f.input :account
  .divider
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success btn-sm'
