%nav.navbar.navbar-default.dark
  .container
    %ul.nav.navbar-nav
      %li
        %a{:href => "#{external.root_path}"} Visão geral
      %li
        %a{:href => "#{external.documents_path}"} Documentos
      %li
        %a{:href => "#{external.messages_path}"} Mensagens
      %li
        %a{:href => "#{external.requests_path}"} Solicitações
      %li
        %a{:href => "#{external.alerts_path}"} Avisos
      %li
        %a{:href => "#{external.orders_path}"} Vencíveis / Pedidos
