.row
  .col-md-12
    %h1.title 
      Gestão de setores
      %small
        %p listagem de setores
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-body
        = simple_form_for url_for, method: :get do |f|
          .row
            .col-md-4
              = f.input :by_name, label: "Por nome", input_html: {placeholder: "Digite o nome", name: :by_name}
            .col-md-2
              = f.input :by_situation, label: "Por situação", as: :select, include_blank: "Todas", input_html: { name: :by_situation}
            .col-md-2
              = f.submit "Filtrar", name: nil, class: 'btn btn-primary filter', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h5
          %b Listado:
          = @sectors.count
      .panel-body
        = link_to "+ Adicionar setor", new_sector_path, class: 'btn btn-success btn-sm'
        .divider
        %table.table.table-striped.table-bordered
          %thead
            %tr 
              %th Nº
              %th Nome
              %th Ativo?
              %th 
          %tbody
            - @sectors.each do |sector|
              %tr 
                %td.col-md-1= sector.id ||= I18n.t(:no_information)
                %td= sector.name ||= I18n.t(:no_information)
                %td.col-md-1= sector.publish ? "Sim" : 'Não'
                %td.col-md-1
                  .btn-group
                    %button.btn.btn-primary.btn-xs.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                      Ações
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#{edit_sector_path(sector)}"} Editar
                      %li
                        %a{:href => "#{sector_path(sector)}", :data => { method: :delete }} Remover
                      