%nav.navbar.navbar-default.dark
  .container
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Gestão Interna
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{internal.root_path}"} Visão geral
          %li
            %a{:href => "#{internal.staffs_path}"} Funcionários
          %li
            %a{:href => "#{internal.sectors_path}"} Setores
          %li
            %a{:href => "#{internal.notes_path}"} Anotações
          %li
            %a{:href => "#{internal.contacts_path}"} Contatos
          %li
            %a{:href => "#{internal.patrimonies_path}"} Patrimônios
          
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{internal.new_general_message_path}"} Chat geral
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{internal.tasks_path}"} Tarefas
            %a{:href => "#{internal.events_path}"} Eventos
            %a{:href => "#{internal.agendas_path}"} Agenda
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Gestão de Clientes
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{customer.root_path}"} Visão Geral
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{customer.new_client_path}"} Adicionar cliente
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{customer.clients_path}"} Meus clientes
          %li
            %a{:href => "#{customer.client_categories_path}"} Categorias
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{customer.client_documents_path}"} Documentos
          %li
            %a{:href => "#{customer.client_requests_path}"} Solicitações
          %li
            %a{:href => "#{customer.client_archives_path}"} Arquivos
          %li
            %a{:href => "#{customer.client_messages_path}"} Mensagens
          %li
            %a{:href => "#{customer.client_alerts_path}"} Avisos
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Gestão Financeira
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{customer.root_path}"} Sincronizando

      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Gestão Comercial
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{customer.root_path}"} Visão geral
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{commercial.items_path}"} Meu estoque
          %li
            %a{:href => "#{customer.root_path}"} Entrada/Saída
          %li
            %a{:href => "#{customer.root_path}"} Compra/Venda
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{commercial.suppliers_path}"} Fornecedores
          %li
            %a{:href => "#{commercial.supplier_categories_path}"} Categoria de fornecedores
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{customer.root_path}"} Emissão de boleto
          %li
            %a{:href => "#{customer.root_path}"} Configurações de boleto
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{commercial.newsletter_sends_path}"} Disparo de newslleter
          %li
            %a{:href => "#{commercial.newsletters_path}"} Minhas newslleters
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{commercial.item_categories_path}"} Categoria de items

      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Gestão de site
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{customer.root_path}"} Visualizar site
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{customer.root_path}"} Páginas
          %li
            %a{:href => "#{customer.root_path}"} Postagens
          %li
            %a{:href => "#{site_core.navs_path}"} Menus
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{customer.root_path}"} Configurações
          %li
            %a{:href => "#{customer.root_path}"} Categorias de conteúdo


      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Administração
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{customer.root_path}"} Sincronizando