%nav.navbar.navbar-default.dark
  .container
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Gestão interna
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{internal.root_path}"} Visão geral
          %li
            %a{:href => "#{internal.staffs_path}"} Funcionários
          %li
            %a{:href => "#{internal.sectors_path}"} Setores
          %li
            %a{:href => "#{internal.notes_path}"} Anotações
          %li
            %a{:href => "#{internal.contacts_path}"} Contatos
          %li
            %a{:href => "#{internal.patrimonies_path}"} Patrimônios
          
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{internal.new_general_message_path}"} Chat geral
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{internal.tasks_path}"} Tarefas
            %a{:href => "#{internal.events_path}"} Eventos
            %a{:href => "#{internal.agendas_path}"} Agenda
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Gestão de clientes
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{customer.root_path}"} Visão geral
          %li
            %a{:href => "#{customer.clients_path}"} Gestão de clientes
          %li
            %a{:href => "#{customer.client_categories_path}"} Categorias
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#{customer.messages_path}"} Mensagens
          %li
            %a{:href => "#{customer.requests_path}"} Solicitações
          %li
            %a{:href => "#{customer.documents_path}"} Documentos
          %li
            %a{:href => "#{customer.archives_path}"} Arquivos