= simple_form_for @item do |f|
  .row
    .col-md-3
      .hint-association
        = f.association :item_category, collection: current_account.item_categories.order(:name), input_html: { id: "option-categories"}, include_blank: "selecione..."
        = f.hint link_to "+ Adicionar nova categoria", new_item_category_path, remote: true , data: { disable_with: t(:disable_with)}
    .col-md-6
      = f.input :name, placeholder: "Informe o nome do produto"
    .col-md-3
      = f.input :photo, as: :file
  .row
    .col-md-12
      = f.input :description, placeholder: "Descreva o produto"
  .row
    .col-md-2
      = f.input :quantity, as: :string
    .col-md-2
      = f.input :value_buy, as: :string, input_html: { class: 'coin' }
    .col-md-2
      = f.input :value_sell,  as: :string, input_html: { class: 'coin' }
    .col-md-2
      = f.input :max_discount, as: :string, input_html: {class: 'percent'}
    .col-md-2
      = f.input :unit, as: :select, include_blank: false, collection: ::Commercial::Item.units.keys
    .col-md-2
      = f.input :status, as: :select
  .row
    .col-md-12
      = f.input :observation
  .divider
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      = link_to t(:cancel), items_path(@params), class: 'btn btn-default'