= simple_form_for @staff do |f|
  .row
    .col-md-12
      .separator 
        %label Informaçoes pessoais
  .row
    .col-md-6
      = f.input :name, placeholder: "Informe o nome completo"
    .col-md-2
      = f.input :cpf, input_html: { class: 'cpf' }
    .col-md-2
      = f.input :rg, placeholder: "Informe o RG"
    .col-md-2
      = f.input :rg_org, placeholder: "SSP UF"
  
  .row
    .col-md-12
      .separator 
        %label Informações de contato
  .row
    .col-md-3
      = f.input :telephone
    .col-md-3
      = f.input :telephone_optional
    .col-md-3
      = f.input :celphone
    .col-md-3
      = f.input :email, placeholder: "email@exemplo.com"
  .row
    .col-md-12
      .separator 
        %label Informações de localização / moradia
  .row
    .col-md-2
      = f.input :cep, input_html: { class: 'cep'}
    .col-md-1
      = f.input :state_id
    .col-md-3
      = f.input :city, placeholder: "Informe a cidade "
    .col-md-6
      = f.input :address, placeholder: "Informe o logradouro completo"
  .row
    .col-md-6
      = f.input :complement, placeholder: "Informe se houver algum complemento"
  .row
    .col-md-12
      .separator 
        %label Informações de acesso
  .row
    .col-md-2
      = f.input :user_active, as: :select, include_blank: false
    .col-md-3
      = f.input :username, placeholder: "Informe um usuário para acesso"
    .col-md-3
      = f.input :password, placeholder: "Informe a senha"
  .row
    .col-md-12
      .separator 
        %label Informações de internas
  .row
    .col-md-2
      = f.association :sector, as: :select, include_blank: "selecione..."
    .col-md-2
      = f.input :job, placeholder: "Informe o cargo"
    .col-md-2
      = f.input :code, placeholder: "Informe a matrícula"
    .col-md-2
      = f.input :situation, as: :select, include_blank: false
  .separator
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      = link_to t(:cancel), staffs_path, data: { disable_with: t(:disable_with)}, class: 'btn btn-default'