= simple_form_for @staff do |f|
  .row
    .col-md-12
      .separator 
        %label
          %b Informaçoes pessoais
  .row
    .col-md-6
      = f.input :name
    .col-md-2
      = f.input :cpf
    .col-md-2
      = f.input :rg
    .col-md-2
      = f.input :rg_org
  
  .row
    .col-md-12
      .separator 
        %label
          %b Informações de contato
  .row
    .col-md-3
      = f.input :telephone
    .col-md-3
      = f.input :telephone_optional
    .col-md-3
      = f.input :celphone
    .col-md-3
      = f.input :email
  .row
    .col-md-12
      .separator 
        %label
          %b Informações de localização / moradia
  .row
    .col-md-2
      = f.input :cep
    .col-md-1
      = f.input :state_id
    .col-md-3
      = f.input :city
    .col-md-6
      = f.input :address
  .row
    .col-md-6
      = f.input :complement
  .row
    .col-md-12
      .separator 
        %label
          %b Informações de acesso
  .row
    .col-md-2
      = f.input :user_active, as: :select, include_blank: false
    .col-md-3
      = f.input :username
    .col-md-3
      = f.input :password
  .row
    .col-md-12
      .separator 
        %label
          %b Informações de internas
  .row
    .col-md-2
      = f.input :sector_id, as: :select, include_blank: "selecione..."
    .col-md-2
      = f.input :job
    .col-md-2
      = f.input :code
    .col-md-2
      = f.input :situation, as: :select, include_blank: false
  .separator
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      = link_to t(:cancel), staffs_path, data: { disable_with: t(:disable_with)}, class: 'btn btn-default'